{% extends "base.html" %}

{% block content %}
    {% if category %}
        <h4>Category: {{ category }}</h4>
    {% endif %}
    <table id="site-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Site</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>
                        <a href="{{ url_for('list_view', category=page.category) }}">
                            {{ page.category }}
                        </a>
                    </td>
                    <td><a href="{{ page.url }}" target="_blank">{{ page.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}